* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

main {
    height: calc(100vh - 140px);
    padding: 20px;
}



section {
    background-color: #333;
    height: 100%;
    width: 100%;
}

section .container {
    height: 100%;
    width: 100%;
}

section .color_generator_container {
    display: flex;
    height: calc(100% - 60px);
    flex-direction: column;
}

@media (min-width: 768px) {
    section .color_generator_container {
        flex-direction: row;
    }
}

.btn-group {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .color_generator_container div {
    flex: 1;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 0.5rem 4rem;
    background-color: green;
    color: #fff;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #333;
}